<!--Main Slider-->
    <section class="main-slider">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    
                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="http://res.cloudinary.com/discovercity/image/upload/v1491944796/interscopia/images/main-slider/1.jpg"  data-saveperformance="off"  data-title="With Awsome Services">
                    <img src="http://res.cloudinary.com/discovercity/image/upload/v1491944796/interscopia/images/main-slider/1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="-95"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;margin-top: -240px;"><div class="slider-title1 text-center"><h2 class="color-white title">Learn with Interscopia</h2></div></div>
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="-10"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="slider-title2 text-center"><h2 class="title">Get a place to show your own videos and save privacy.</h2></div></div>
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="65"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="slider-title3 text-center"><h3 class="title">Over 20 million people in 50 country share with us.</h3></div></div>
                    
                    <div class="tp-caption lfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="1500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"
                    style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="link-btn text-center"><a href="index.html#" class="btn-thm btn-lg m-rit15">Watch Video </a><a href="index.html#" class="btn-thm btn-black btn-lg">About US </a></div></div>
                                        

                    </li>
                    
                    
                </ul>
                
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>
    

    <!-- Section: Feautered Video -->
    <!--<section class="feautered-videos bg-color-f5 sec-padding63">-->
    <!--
    <section class="feautered-videos bg-color-f5 sec-padding63">
      <div class="container">
        <div class="section-title title-m2">
          <div class="row">
            <div class="col-md-12 section-title">
              <h3 class="title"><span class="color-theme">Latest</span> Videos</h3>
              <div class="title-border gray"></div>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <div class="feautered-videos-carousel owl-nav-style owl-nav3" data-nav="true">
                <div class="item">
                  <div class="video-post clearfix">
                    <div class="thumb">
                      <img class="full-width" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/1.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                    <div class="video-info">
                      <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                      <ul class="list-inline clearfix">
                        <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                        <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      </ul>
                      <ul class="list-inline clearfix m-top15">
                        <li class="video-ratting">
                          <a href="">
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                            <i class="pe-7s-star"></i>
                          </a>
                        </li>
                        <li class="video-author">
                          Posted By: <a href="videos-author.html">Hasan Raja</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <!-- Section: Search Video -->
    <section class="search-videos sec-padding77">
      <div class="container">
        <!--<div class="row search-inner">
            <div class="col-md-12">
              <form class="video-search-form">
                <div class="row">
                  <div class="form-group p-rits15 col-md-4">
                    <input type="text" placeholder="Click to Search" class="form-control search-input">
                  </div>
                  <div class="form-group col-md-3">
                    <select class="form-control">
                      <option>All Categories</option>
                      <option>Entertainment</option>
                      <option>Adventure</option>
                      <option>Comedy</option>
                      <option>Drama</option>
                      <option>History</option>
                      <option>Action</option>
                      <option>Culture</option>
                      <option>Photography</option>
                      <option>Art</option>
                      <option>Other</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <select class="form-control">
                      <option>Newest added</option>
                      <option>Featured videos</option>
                      <option>Most populer</option>
                      <option>Top viewers</option>
                      <option>Min: short to long</option>
                      <option>Min: long to short</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2 text-right">
                    <button class="btn btn-block" type="submit"><i class="fa fa-search"></i> Search</button>
                  </div>
                </div>
              </form>
           </div>
        </div>-->
        <div class="section-content">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/1.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/2.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/3.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/4.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/5.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/6.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/7.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/8.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/9.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/10.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/11.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="video-post clearfix">
                <div class="thumb">
                  <img class="img-fullwidth" src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/12.jpg" alt="">
                  <div class="video-duration">02:48</div>
                  <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                  <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                </div>
                <div class="video-info">
                  <h5 class="title"><a href="videos-details.html">Lorem ipsum dolor sit amet  elit  nam vitae nemo deserunt fuga.</a></h5>
                  <ul class="list-inline clearfix">
                    <li class="post-date"><i class="fa fa-calendar"></i> 07 DEC, 2015</li>
                    <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                  </ul>
                  <ul class="list-inline clearfix m-top15">
                    <li class="video-ratting">
                      <a href="">
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                        <i class="pe-7s-star"></i>
                      </a>
                    </li>
                    <li class="video-author">
                      Posted By: <a href="videos-author.html">Hasan Raja</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Divider: Video Widget -->
    <section class="video-widget bg-color-f8 sec-padding75">
      <div class="container">
        <div class="section-content xs-width4-center">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <h4 class="sub-title"><span class="color-theme">Popular</span> Videos</h4>
              <div class="title-border gray"></div>
              <div class="widget-bxslider">
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm9.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm10.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm11.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm12.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm1.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm2.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm3.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm4.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <h4 class="sub-title m-top0"><span class="color-theme">Recomended</span> Videos</h4>
              <div class="title-border gray m-btm20 m-top10"></div>
              <div class="widget-bxslider">
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm1.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm2.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm3.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm4.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm12.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm6.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm4.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm8.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <h4 class="sub-title m-top0"><span class="color-theme">Recently</span> Viewed</h4>
              <div class="title-border gray m-btm20 m-top10"></div>
              <div class="widget-bxslider">
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm5.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm6.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm7.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm8.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm10.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm4.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm3.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
                <div class="media video-postsideber">
                  <div class="media-left">
                    <div class="thumb">
                      <img src="http://res.cloudinary.com/discovercity/image/upload/interscopia/images/videos/sm1.jpg" alt="">
                      <div class="video-duration">02:48</div>
                      <a class="video-add" href="index.html#"><i class="fa fa-plus-square"></i></a>
                      <a class="video-play-button" href="videos-details.html"><img src="http://res.cloudinary.com/discovercity/image/upload/v1491945336/interscopia/images/photos/playbutton.png" alt=""></a>
                    </div>
                  </div>
                  <div class="media-body video-info">
                    <h6 class="title"><a href="videos-details.html">Lorem ipsum dolor et amet elit fugit illo em.</a></h6>
                    <ul class="">
                      <li>
                        <ul class="list-inline">
                          <li class="video-ratting">
                            <a href="">
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                              <i class="pe-7s-star"></i>
                            </a>
                          </li>
                          <li class="post-date">3 months ago</li>
                        </ul>
                      </li>
                      <li class="viewers"><a href=""><i class="fa fa-eye"></i> 44,98,396</a> views</li>
                      <li class="video-author">by <a href="videos-author.html">Hasan Raja</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="subscribe-newsletter col-sm-6 col-md-6 col-md-offset-3 col-lg-3 col-lg-offset-0">
              <h4 class="sub-title"><span class="color-theme">Subscribe</span> Newsletter</h4>
              <div class="title-border gray"></div>
              <form id="subscribe-form" class="subscribe-form bg-color-eee">
                <div class="form-group">
                  <input type="text" placeholder="Enter Name" id="contact_name" name="contact_name" required="" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Enter Email" id="contact_email" name="contact_email" class="form-control" required="">
                </div>
                <div class="form-group text-center">
                  <button data-loading-text="Please wait..." class="btn btn-default full-width m-top0" type="submit">Submit
                  </button>
                </div>
              </form>
              <div class="subscribe-postadd bg-color-eee">
                <div class="display-table">
                  <div class="display-table-cell text-center">
                    <ul>
                        <li>Post Your</li>
                        <li class="color-theme fw-700">Advertise</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--Parallax Section
    <section class="parallax-section welcome-section theme-overlay overlay-deep-white sec-padding89" style="background-image:url('images/parallax/image-3.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <h2 class="text-uppercase fs-36 fw-500 m-btm20">Any kind of violence !</h2>
                    <p class="fs-16">Etiam dignissim sit amet felis ac sagittis. Sed libero arcu, pharetra et ante in,<br> elementum scelerisque arcu. Curabitur sagittis non justo at ultri</p>
                    <div class="color-theme fs-18 m-top20">Fell free to contact us - <a class="color-black fw-b text-uppercas" href="index.html#">Contact Now <span class="fa fa-caret-right"></span></a></div>
                </div>
            </div>
        </div>
    </section>-->
    
    <!--Client Logos
    <section class="sponsors-section">
        <div class="container">
            <ul class="slider">
                <li><a href="index.html#"><img src="images/clients/brand-1.png" alt="" title=""></a></li>
                <li><a href="index.html#"><img src="images/clients/brand-2.png" alt="" title=""></a></li>
                <li><a href="index.html#"><img src="images/clients/brand-3.png" alt="" title=""></a></li>
                <li><a href="index.html#"><img src="images/clients/brand-4.png" alt="" title=""></a></li>
                <li><a href="index.html#"><img src="images/clients/brand-5.png" alt="" title=""></a></li>
                <li><a href="index.html#"><img src="images/clients/brand-1.png" alt="" title=""></a></li>
            </ul>
        </div>
    </section>-->