<!--Main Footer-->
<footer class="main-footer">
    
    <!--Footer Upper-->
    <div class="footer-upper xs-width4-center">
        <div class="container">
            <div class="row clearfix">
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget links-widget">
                        <div class="widget-title"><h3>Quick Links</h3></div>
                        <ul>
                            <li><a href="index.html#">About US</a></li>
                            <li><a href="index.html#">Our Videos</a></li>
                            <li><a href="index.html#">Our Channels</a></li>                                
                            <li><a href="index.html#">Our offers</a></li>
                            <li><a href="index.html#">Our Privacy</a></li>
                            <li><a href="index.html#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget links-widget">
                        <div class="widget-title"><h3>Archive</h3></div>
                        <ul>
                            <li><a href="index.html#">Films &amp; Animation</a></li>
                            <li><a href="index.html#">Education &amp; Blog</a></li>
                            <li><a href="index.html#">News &amp; Politics</a></li>
                            <li><a href="index.html#">Gaming &amp; Music</a></li>
                            <li><a href="index.html#">People &amp; Animals</a></li>
                            <li><a href="index.html#">Science &amp; Technology</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget links-widget">
                        <div class="widget-title"><h3>Latest News</h3></div>
                        <div class="widget-news">
                            <div class="media">
                              <div class="media-left">
                                <a href="index.html#">
                                  <img class="media-object" src="images/blog/f1.jpg" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <a class="title" href="index.html#">Etiam dignissim sit amet felis ac sagittis. Sed libero</a>
                                <h6 class="post-date">31 Dec, 2015</h6>
                              </div>
                            </div>
                            <div class="media">
                              <div class="media-left">
                                <a href="index.html#">
                                  <img class="media-object" src="images/blog/f2.jpg" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <a class="title" href="index.html#">Etiam dignissim sit amet felis ac sagittis. Sed libero</a>
                                <h6 class="post-date">31 Dec, 2015</h6>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget about-widget">
                        <a href="index.html#">
                            <img src="images/logo-white.png" alt="Awesome Image"/>
                        </a>
                        <p class="fs-13">VideoForest is a library of corporate and business templates with predefined web elements which helps you to build your own site. Lorem ipsum dolor sit amet.</p>
                        <ul class="contact">
                            <li><i class="fa fa-phone"></i> <span>(880) 1915085363444</span></li>
                            <li><i class="fa fa-envelope-o"></i> <span>example@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <!--Footer bootom-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 xs-text-center">
                    <p class="fs-13">&copy; Copyright 2017 by <span><a class="color-theme" href="#">Interscopia</a></span> | All rights reserved</p>
                </div>
                <div class="col-sm-6 col-xs-12 xs-text-center">
                    <div class="footer-widget text-right xs-text-center">
                        <ul class="social-links icon-bg-theme list-inline">
                            <li class="color-theme xs-full-width">Follow Us:</li>
                            <li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="index.html#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
    
</footer>